/* latin */
@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("assets/fonts/Inter-roman.var.woff2") format("woff2");
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 3rem;
    font-weight: 800;
    line-height: 1.25;
    font-variation-settings: "wght" 800;
}
